<!--
<div class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container">
    <ul class="nav  nav-justified list-inline">
      <li class="active">
        <a href="#/">
          <i class="fa fa-music fa-2x"></i>
          <span class="hidden-xs">Cat&aacute;logo</span>
        </a>
      </li>
      <li>
        <a ng-href="#/playnow">
          <i class="fa fa-play-circle fa-2x"></i>
          <span class="hidden-xs">Tocando</span>
        </a>
      </li>
      <li>
        <a ng-href="#/suggest">
          <i class="fa fa-comment fa-2x"></i>
          <span class="hidden-xs">Sugerencia</span>
        </a>
      </li>
    </ul>
  </div>
</div>
-->
