<div class="col-xs-12">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Sugerencias Musicales</legend>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="title">Titulo</label>
        <div class="controls">
          <input id="title" name="title" type="text" placeholder="" class="input-xlarge">
          <p class="help-block">El título de tu canción a sugerir</p>
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="artista">Artista</label>
        <div class="controls">
          <input id="artista" name="artista" type="text" placeholder="" class="input-xlarge">
          <p class="help-block">Quien interpreta la canción</p>
        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="enviar"></label>
        <div class="controls">
          <button id="enviar" name="enviar" class="btn btn-success">Enviar</button>
        </div>
      </div>

    </fieldset>
  </form>

</div>
